/* Specific styles for admin tables */

/* Style for discounted price in product table */
.admin-table .price-cell {
    line-height: 1.3;
}
.admin-table .price-cell span,
.admin-table .price-cell del {
    display: block;
}
.admin-table .price-cell .discount-price {
    color: var(--color-danger);
    font-weight: 600;
}
.admin-table .price-cell del {
    font-size: 0.9em;
    color: var(--color-text-med);
}

/* A button that looks like a delete link */
.btn-delete-lookalike {
    border-color: var(--color-danger) !important;
    color: var(--color-danger) !important;
}

/* Hides action buttons on mobile, to be shown in expandable row */
.desktop-actions-only {
    display: table-cell;
}

@media (max-width: 767px) {
    .desktop-actions-only { 
        display: none; 
    }
    .admin-table td[data-label="Aksi:"] { 
        border: none; 
    }
}